# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [3]:
chipo = pd.read_csv(url, sep= '\t')

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Nombre del producto de valor máximo

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
chipo['precio'] = chipo['item_price'].str[1:].str.rstrip()
chipo['precio'] = chipo['precio'].astype('float')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,precio
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [7]:
chipo[chipo['precio'] == chipo['precio'].max()]

,order_id,quantity,item_name,choice_description,item_price,precio
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [10]:
chipo[chipo['precio'] > 10].sort_values(by='precio', ascending=False).drop_duplicates('item_name')['item_name']

3598    Chips and Fresh Tomato Salsa
3480                   Carnitas Bowl
3602                 Chicken Burrito
3601                  Veggie Burrito
409                     Chicken Bowl
3603                   Steak Burrito
3334                      Steak Bowl
281                 Steak Salad Bowl
213               Chicken Salad Bowl
445                             Bowl
3658              Chicken Soft Tacos
1903           Barbacoa Crispy Tacos
2581                Carnitas Burrito
4354                Steak Soft Tacos
3890           Carnitas Crispy Tacos
2874              Steak Crispy Tacos
4489             Chips and Guacamole
885             Chicken Crispy Tacos
846                      Veggie Bowl
3889               Veggie Soft Tacos
4152                   Bottled Water
3887                   Side of Chips
3389               6 Pack Soft Drink
4239             Carnitas Salad Bowl
1326             Barbacoa Salad Bowl
2073                   Barbacoa Bowl
2434             Barbacoa Soft Tacos
1963             Carnitas Soft Tacos
4592                Barbacoa Burrito
496                Veggie Salad Bowl
1065                   Chicken Salad
Name: item_name, dtype: object

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [11]:
articulo_precio =chipo.groupby('item_name').max()[['precio']]
articulo_precio.head(10)

                       precio
item_name
6 Pack Soft Drink       12.98
Barbacoa Bowl           11.75
Barbacoa Burrito        11.75
Barbacoa Crispy Tacos   18.50
Barbacoa Salad Bowl     11.89
Barbacoa Soft Tacos     11.75
Bottled Water           15.00
Bowl                    22.20
Burrito                  7.40
Canned Soda              4.36

In [ ]:
chipo.drop_duplicates('item_name')[['item_name'], ]

### Paso 6. Ordenar por el nombre del artículo

In [17]:
articulo_precio.sort_values(by='item_name')

                                       precio
item_name
6 Pack Soft Drink                       12.98
Barbacoa Bowl                           11.75
Barbacoa Burrito                        11.75
Barbacoa Crispy Tacos                   18.50
Barbacoa Salad Bowl                     11.89
Barbacoa Soft Tacos                     11.75
Bottled Water                           15.00
Bowl                                    22.20
Burrito                                  7.40
Canned Soda                              4.36
Canned Soft Drink                        5.00
Carnitas Bowl                           35.25
Carnitas Burrito                        18.50
Carnitas Crispy Tacos                   17.98
Carnitas Salad                           8.99
Carnitas Salad Bowl                     11.89
Carnitas Soft Tacos                     11.75
Chicken Bowl                            32.94
Chicken Burrito                         35.00
Chicken Crispy Tacos                    17.50
Chicken Salad                           10.98
Chicken Salad Bowl                      22.50
Chicken Soft Tacos                      21.96
Chips                                    6.45
Chips and Fresh Tomato Salsa            44.25
Chips and Guacamole                     17.80
Chips and Mild Fresh Tomato Salsa        3.00
Chips and Roasted Chili Corn Salsa       5.90
Chips and Roasted Chili-Corn Salsa       2.39
Chips and Tomatillo Green Chili Salsa    5.90
Chips and Tomatillo Red Chili Salsa      5.90
Chips and Tomatillo-Green Chili Salsa    4.78
Chips and Tomatillo-Red Chili Salsa      7.17
Crispy Tacos                             7.40
Izze                                     3.39
Nantucket Nectar                         6.78
Salad                                    7.40
Side of Chips                           13.52
Steak Bowl                              26.07
Steak Burrito                           27.75
Steak Crispy Tacos                      17.98
Steak Salad                              8.99
Steak Salad Bowl                        23.78
Steak Soft Tacos                        18.50
Veggie Bowl                             16.98
Veggie Burrito                          33.75
Veggie Crispy Tacos                      8.49
Veggie Salad                             8.49
Veggie Salad Bowl                       11.25
Veggie Soft Tacos                       16.98

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [58]:
chipo_ordenado = chipo.sort_values(by='precio', ascending=False)
chipo_ordenado.iloc[0]['quantity'].sum()

15

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [59]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].value_counts('item_name')

item_name
Veggie Salad Bowl    18
Name: count, dtype: int64

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [65]:
chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

C:\Users\manue\AppData\Local\Temp\ipykernel_5688\849221004.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

item_name
Canned Soda    20
Name: count, dtype: int64