# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [3]:
chipo = pd.read_csv(url, sep= '\t')

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Nombre del producto de valor máximo

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
chipo['price'] = chipo['item_price'].str[1:].str.rstrip()
chipo['price'] = chipo['price'].astype('float')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,precio,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98

Otra forma de hacerlo:

In [11]:
chipo['price2'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,precio,price,price2
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25,9.25,9.25

In [17]:
chipo[chipo['price'] == chipo['price'].max()]
chipo['price_unit'] = chipo['price'] / chipo['quantity']
chipo['price_unit'].max()
chipo[chipo['price'] == chipo['price_unit'].max()].drop_duplicates()

,order_id,quantity,item_name,choice_description,item_price,precio,price,price2,price_unit
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89,11.89,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$11.89,11.89,11.89,11.89,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89,11.89,11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
1326,541,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89,11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.89,11.89,11.89,11.89,11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$11.89,11.89,11.89,11.89,11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89,11.89,11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89,11.89,11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",$11.89,11.89,11.89,11.89,11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89,11.89,11.89
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.89,11.89,11.89,11.89,11.89
2610,1035,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.89,11.89,11.89,11.89,11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.89,11.89,11.89,11.89,11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.89,11.89,11.89,11.89,11.89
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$11.89,11.89,11.89,11.89,11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",$11.89,11.89,11.89,11.89,11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
3546,1426,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",$11.89,11.89,11.89,11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
4239,1692,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",$11.89,11.89,11.89,11.89,11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [18]:
chipo[chipo['price_unit'] > 10].sort_values(by='price_unit', ascending=False).drop_duplicates('item_name')

,order_id,quantity,item_name,choice_description,item_price,precio,price,price2,price_unit
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",$11.89,11.89,11.89,11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$11.89,11.89,11.89,11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89,11.89,11.89
1713,691,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.75,11.75,11.75,11.75,11.75
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$23.50,23.50,23.50,23.50,11.75
3439,1381,1,Steak Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75,11.75,11.75
1542,627,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$11.75,11.75,11.75,11.75,11.75
1754,708,1,Barbacoa Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, So...",$11.75,11.75,11.75,11.75,11.75
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25,35.25,35.25,11.75
3512,1412,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75,11.75,11.75
3547,1426,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$11.75,11.75,11.75,11.75,11.75
1677,679,1,Carnitas Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$11.75,11.75,11.75,11.75,11.75
1632,658,1,Carnitas Crispy Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75,11.75,11.75,11.75,11.75
2898,1153,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75,11.75,11.75
2787,1106,1,Barbacoa Crispy Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$11.75,11.75,11.75,11.75,11.75
3093,1232,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Sour Cream, Chees...",$11.25,11.25,11.25,11.25,11.25
4438,1768,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25,11.25,11.25,11.25,11.25
4471,1782,1,Veggie Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25,11.25,11.25
3175,1269,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Sou...",$11.25,11.25,11.25,11.25,11.25
3082,1228,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25,11.25,11.25,11.25,11.25
3192,1276,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.25,11.25,11.25,11.25,11.25
3130,1248,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.25,11.25,11.25,11.25,11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25,11.25,11.25
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25,11.25,11.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98,10.98,10.98

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [19]:
articulo_precio =chipo.groupby('item_name').max()[['price']]
articulo_precio.head(10)

                       price
item_name
6 Pack Soft Drink      12.98
Barbacoa Bowl          11.75
Barbacoa Burrito       11.75
Barbacoa Crispy Tacos  18.50
Barbacoa Salad Bowl    11.89
Barbacoa Soft Tacos    11.75
Bottled Water          15.00
Bowl                   22.20
Burrito                 7.40
Canned Soda             4.36

Otra forma de hacerlo

In [24]:
chipo.drop_duplicates('item_name')[['item_name', 'price_unit']]

                                  item_name  price_unit
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
18                              Canned Soda        1.09
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
281                        Steak Salad Bowl       11.89
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
445                                    Bowl        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
664                             Steak Salad        8.99
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

### Paso 6. Ordenar por el nombre del artículo

In [28]:
articulo_precio.sort_values(by='item_name')

                                       price
item_name
6 Pack Soft Drink                      12.98
Barbacoa Bowl                          11.75
Barbacoa Burrito                       11.75
Barbacoa Crispy Tacos                  18.50
Barbacoa Salad Bowl                    11.89
Barbacoa Soft Tacos                    11.75
Bottled Water                          15.00
Bowl                                   22.20
Burrito                                 7.40
Canned Soda                             4.36
Canned Soft Drink                       5.00
Carnitas Bowl                          35.25
Carnitas Burrito                       18.50
Carnitas Crispy Tacos                  17.98
Carnitas Salad                          8.99
Carnitas Salad Bowl                    11.89
Carnitas Soft Tacos                    11.75
Chicken Bowl                           32.94
Chicken Burrito                        35.00
Chicken Crispy Tacos                   17.50
Chicken Salad                          10.98
Chicken Salad Bowl                     22.50
Chicken Soft Tacos                     21.96
Chips                                   6.45
Chips and Fresh Tomato Salsa           44.25
Chips and Guacamole                    17.80
Chips and Mild Fresh Tomato Salsa       3.00
Chips and Roasted Chili Corn Salsa      5.90
Chips and Roasted Chili-Corn Salsa      2.39
Chips and Tomatillo Green Chili Salsa   5.90
Chips and Tomatillo Red Chili Salsa     5.90
Chips and Tomatillo-Green Chili Salsa   4.78
Chips and Tomatillo-Red Chili Salsa     7.17
Crispy Tacos                            7.40
Izze                                    3.39
Nantucket Nectar                        6.78
Salad                                   7.40
Side of Chips                          13.52
Steak Bowl                             26.07
Steak Burrito                          27.75
Steak Crispy Tacos                     17.98
Steak Salad                             8.99
Steak Salad Bowl                       23.78
Steak Soft Tacos                       18.50
Veggie Bowl                            16.98
Veggie Burrito                         33.75
Veggie Crispy Tacos                     8.49
Veggie Salad                            8.49
Veggie Salad Bowl                      11.25
Veggie Soft Tacos                      16.98

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [29]:
chipo_ordenado = chipo.sort_values(by='price', ascending=False)
chipo_ordenado.iloc[0]['quantity'].sum()

15

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [30]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].value_counts('item_name')

item_name
Veggie Salad Bowl    18
Name: count, dtype: int64

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [31]:
chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

C:\Users\manue\AppData\Local\Temp\ipykernel_7592\849221004.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

item_name
Canned Soda    20
Name: count, dtype: int64