# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [47]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [48]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [49]:
chipo = pd.read_csv(url, sep= '\t')

In [50]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Nombre del producto de valor máximo

In [51]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [52]:
chipo['precio'] = chipo['item_price'].str[1:].str.rstrip()
chipo['precio'] = chipo['precio'].astype('float')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,precio
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [54]:
chipo[chipo['precio'] == chipo['precio'].max()]

,order_id,quantity,item_name,choice_description,item_price,precio
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [55]:
chipo[chipo['precio'] > 10].sort_values(by='precio', ascending=False)

,order_id,quantity,item_name,choice_description,item_price,precio
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
476,204,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",$10.58,10.58
2919,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Guacamole, Rice]]",$10.58,10.58
3520,1415,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Sour C...",$10.58,10.58
1099,453,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",$10.58,10.58
3599,1443,7,Bottled Water,NaN,$10.50,10.50

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [56]:
articulo_precio =chipo.groupby('item_name').max()[['precio']]
articulo_precio.head(10)

                       precio
item_name
6 Pack Soft Drink       12.98
Barbacoa Bowl           11.75
Barbacoa Burrito        11.75
Barbacoa Crispy Tacos   18.50
Barbacoa Salad Bowl     11.89
Barbacoa Soft Tacos     11.75
Bottled Water           15.00
Bowl                    22.20
Burrito                  7.40
Canned Soda              4.36

### Paso 6. Ordenar por el nombre del artículo

In [57]:
articulo_precio.sort_values(by='item_name').head(10)

                       precio
item_name
6 Pack Soft Drink       12.98
Barbacoa Bowl           11.75
Barbacoa Burrito        11.75
Barbacoa Crispy Tacos   18.50
Barbacoa Salad Bowl     11.89
Barbacoa Soft Tacos     11.75
Bottled Water           15.00
Bowl                    22.20
Burrito                  7.40
Canned Soda              4.36

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [58]:
chipo_ordenado = chipo.sort_values(by='precio', ascending=False)
chipo_ordenado.iloc[0]['quantity'].sum()

15

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [59]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].value_counts('item_name')

item_name
Veggie Salad Bowl    18
Name: count, dtype: int64

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [65]:
chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

C:\Users\manue\AppData\Local\Temp\ipykernel_5688\849221004.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].value_counts('item_name')

item_name
Canned Soda    20
Name: count, dtype: int64